.mmo {
  padding: 50px;
  background-color: #e4e7ed91;

  &__top-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  &__btn {
    border: 1px solid #8e8c84;
    border-radius: 4px;
    transition: all 0.1s linear;
    a {
      padding: 9px 15px;
      display: block;
      font-size: 13px;
      font-weight: 600;
      color: #8e8c84;
      transition: all 0.1s linear;
      text-transform: uppercase;
    }
    &:hover {
      background-color: #8e8c84;
    }
    &:hover a {
      color: white;
    }
  }

  &__title {
    font-size: 20px;
    color: #3e3f3a;
    font-weight: 500;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 215px;
    grid-column-gap: 20px;
  }

  &__item {
    display: flex;
    border-radius: 4px;
    background-color: white;
  }

  &__img {
    background-color: lightgrey;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__disc {
    font-size: 24px;
    text-align: center;
    padding: 15px;
    color: #8e8c84;
  }
  &__spinner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
